
<div class="wrapper">
  <div class="sidebar flex-column">
    <ul>
      <li><a href="#" class="active"><img src="../assets/logo2.png" alt=""></a></li>
      <li> <a href="#"> <i class="fa fa-th-large" aria-hidden="true"></i> </a></li>
      <li> <a href="#"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a></li>
      <li> <a href="#"><i class="fa fa-television" aria-hidden="true"></i></a></li>
      <li> <a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
    </ul>
    <ul class="bottom">
      <li><a href="#"> <i class="fa fa-user-circle-o" aria-hidden="true"></i></a><p>Sasi Kumar</p></li>
      <li> <a href="#"> <i class="fa fa-sign-out" aria-hidden="true"></i></a><p>LogOut</p></li>
    </ul>
  </div>

  <div class="main-content">
    <h4>Document List</h4>
  </div>

</div>

<div class="search">
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="section">
      <p class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Document ID</p>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#section41">Name</a>
        <a class="dropdown-item" href="#section42">Scan ID</a>
      </div>
     </div>

      <div class="search-container">
        <form class="example"  style="margin:auto;max-width:300px">
          <input type="text" placeholder="Search.." name="search2">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
  </div>


    <div class="col-md-6 col-sm-12 menu">
      <ul class="nav">
        <li class="nav-item">
          <i class="fa fa-calendar p-2" aria-hidden="true"> 28-12-2020 ↔ 31-12-2020 </i>
        </li>
        <li class="nav-item">
          <span> More </span>
        </li>
        <li class="nav-item">
         <span>Clear All</span>
        </li>
      </ul>
    </div>
</div>

</div>

